#home {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: 10;
}

.leftHome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
}

.rightHome {
    width: 50%;
    /* width: auto; */
    flex: none;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 10; */
}

.rightHome img {
    min-height: 35rem;
    max-height:40rem;
    min-width: 25rem;
    max-width: 35rem;
    filter: drop-shadow(2px 2px 20px rgb(116, 201, 255));
    z-index: 10;
    position: relative;
    object-fit: contain;
}

.homedetails {
    font-size: 2vmax;
    /* z-index: 10; */
}

.line1 {
    font-size: 0.8em;
}

.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(66, 180, 205), white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* background-color: red; */
    /* opacity: 1 !important; */
    /* opacity: 0; */
}

.line3 {
    font-size: 1em;
}

.homedetails button {
    padding: 10px 30px;
    background-color: rgb(66, 180, 205);
    color: black;
    border: 2px solid rgb(66, 180, 205);
    margin-top: 30px;
    border-radius: 20px;
    font-size: 19px;
    transition: all .2s;
    cursor: pointer;
}

.homedetails button:hover {
    background-color: transparent;
    color: rgb(66, 180, 205);
}




@media (max-width:750px) {
    #home {
        flex-direction: column-reverse;
    }

    .leftHome {
        width: 100%;
        height: 50vh;
    }

    .rightHome {
        /* width: 100%; */
        flex: none;
        height: 50vh;
        align-items: end;
        justify-content: center;
    }
    
    .rightHome img {
        height: 40vh;
        width: 40vh;
        max-height: 400px;
        max-width: 400px;
        min-height: 200px;
        min-width: 200px;
    }
}